.profile
    .form-container(layout="row", layout-sm="column", layout-align="center center")
        md-whiteframe.md-whiteframe-z1.username-form
            ng-form(name="prof.loginForm" layout="column")
                .input-row
                    md-input-container
                        input(type="text" ng-model="currentUser.username" name="username"
                                placeholder="Login" aria-label="login")
                md-button.md-raised.md-primary(ng-click="prof.actions.updateUsername(currentUser.username)"
                        aria-label="update login") Update login
        md-whiteframe.md-whiteframe-z1.email-form
            ng-form(name="prof.emailForm" layout="column")
                .input-row
                    md-input-container
                        input(type="text" ng-model="currentUser.emails[0].address" name="email"
                                placeholder="E-mail" aria-label="email")
                md-button.md-raised.md-primary(ng-click="prof.actions.updateEmail(currentUser.emails[0].address)"
                        aria-label="update email") Update email
    .form-container(layout="row", layout-sm="column", layout-align="center center")
        md-whiteframe.md-whiteframe-z1
            ng-form(name="prof.emailForm")
                h4.title Profile info
                .names(layout="row", layout-sm="column", layout-align="left center")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.firstname" name="firstname"
                                placeholder="Firstname" aria-label="first name")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.lastname" name="lastname"
                                placeholder="Lastname" aria-label="last name")
                h4.title Do you have a cat?
                .cats(layout="row", layout-sm="column", layout-align="left center")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.catname" name="catname"
                                placeholder="Cat Name" aria-label="catname")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.catbreed" name="catbreed"
                                placeholder="Cat Breed" aria-label="cat breed")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.catyeras" name="catyears"
                                placeholder="How old?" aria-label="cat years")
                h4.title Or dog?
                .dogs(layout="row", layout-sm="column", layout-align="left center")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.dogname" name="dogname"
                                placeholder="Dog Name" aria-label="dogname")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.dogbreed" name="dogbreed"
                                placeholder="Dog Breed" aria-label="dog breed")
                    md-input-container
                        input(type="text" ng-model="currentUser.profile.dogyeras" name="dogyears"
                                placeholder="How old?" aria-label="dog years")
                md-button.md-raised.md-primary.prof-button(ng-click="prof.actions.updateProfile(currentUser.profile)"
                        aria-label="update profile") Update profile

